* {
  box-sizing: border-box;
}

#app {
  padding-top: 50px;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 420px) {
  #app {
    padding-top: 10px;
  }
}

.bl_app {
  margin: 0 auto;
  border-radius: 20px;
  color: #202124;
  width: 375px;
  height: 670px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

@media only screen and (max-width: 420px) {
  .bl_app {
    width: 100%;
    height: 170vw;
  }
}

.bl_display {
  padding: 0 29px;
  overflow-x: hidden;
  height: 180px;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}

@media only screen and (max-width: 420px) {
  .bl_display {
    height: 46vw;
    padding: 0 7vw;
  }
}

.el_output {
  font-size: 60px;
}

@media only screen and (max-width: 420px) {
  .el_output {
    font-size: 16vw;
  }
}

.bl_crossTable {
  height: calc(100% - 180px);
  padding-left: 5px;
  padding-right: 5px;
}

@media only screen and (max-width: 420px) {
  .bl_crossTable {
    height: 124vw;
    padding-left: 1.3vw;
    padding-right: 1.3vw;
  }
}

.bl_crossTable table {
  width: 100%;
  text-align: center;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0 15px;
  margin-top: -15px;
}

@media only screen and (max-width: 420px) {
  .bl_crossTable table {
    border-spacing: 0 3.16666vw;
    margin-top: -3.1666666vw;
  }
}

.bl_crossTable td {
  padding: 0;
}

.el_btn {
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 22px;
  font-weight: bold;
  border-radius: 50%;
  background-color: #f1f3f4;
  cursor: pointer;
}

@media only screen and (max-width: 420px) {
  .el_btn {
    width: 21vw;
    height: 21vw;
    line-height: 21vw;
    font-size: 5.8vw;
  }
}

.el_btn__dark {
  background-color: #dadce0;
}

.el_btn__blue {
  background-color: #4169e1;
  color: #fff;
}

.el_btn__big {
  display: block;
  width: 100%;
  border-radius: 1000px;
  text-align: left;
  padding-left: 40px;
}

@media only screen and (max-width: 420px) {
  .el_btn__big {
    padding-left: 10vw;
  }
}
