<template>
  <div>
    <h1 class="title">calculator</h1>
    <div class="result">{{ showNum }}</div><!--result-->
    <p>
      op : <b>{{ currentOperator }}</b>
    </p>
    <div class="buttons">
      <button
        v-for="num in buttons.num"
        :key="num"
        :id="'btn-' + num"
        class="numBtn"
        @click="selectNumber(num);" 
      >
        {{ num }}
      </button>
      <button
        v-for="op in buttons.op"
        :key="op"
        :id="'btn-' + op"
        class="opBtn"
        @click="selectOparator(op);"
      >
        {{ op }}
      </button>
      <button @click="showResult">=</button>
      <button @click="clearCurrent">C</button>
      <button @click="clearAll">AC</button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      buttons: {
        num: [
          "7",
          "8",
          "9",
          "4",
          "5",
          "6",
          "1",
          "2",
          "3",
          "0",
          "00",
          ".",
          "+/-"
        ],
        op: ["+", "-", "/", "*", "%"]
      },
      isInsertNumber: true, // 数字入力中かどうか
      isResult: false, // =を押した後かどうか
      currentOperator: "", // 現在選択中の演算子 ->function
      currentNumber: "0", // 現在選択中の数字 ->inputValue
      numArray: [], // 押した数字の配列を格納する 
      opArray: [] // 押した演算子の配列を格納する
    };
  },
  computed: {
    // 状態によって 合計値 or 入力値 を出し分ける
    showNum() {
      let result;
      if (this.isInsertNumber) { //数字が入力中だったら
        var text = String(this.currentNumber); //現在選択中の数字を代入
        var newText = text.replace(/^0{1,}([^.])/, "$1"); //置換対象文字列,置換文字列
        result = newText;
      } else {
        result = this.total(); //totalメソッドを起動
      }
      return result;
    }
  },
  methods: {
    // 全ての計算結果を出す
    total() { // ex.[1,2,3,4]が渡ってきたら まず、setTotalNumに(0,1,0)を渡す 次に(1,2,1) ......繰り返し
      return this.numArray.reduce((prev, next, index, array) => { //reduceは配列それぞれの値に対して処理を実行 ４つの引数 蓄積値,現在の値,添字,元の配列(numArray) 
        return this.setTotalNum(prev, next, index - 1); //setTotalNumメソッドを起動 ,reduceメソッドの場合 indexは1から開始される
      });
    },
    // 前後の数字を演算子ごとに計算して値を返す
    setTotalNum(prev, next, index) {
      if (this.opArray[index] === "+") {
        return prev + next; // 1 + 2 
      } else if (this.opArray[index] === "-") {
        return prev - next; 
      } else if (this.opArray[index] === "/") {
        return prev / next; 
      } else if (this.opArray[index] === "*") {
        return prev * next;
      } else if (this.opArray[index] === "%") {
        return prev % next;
      }
    },
    // 数字ボタンを押した時
    selectNumber(num) {
      // 正負を逆にする
      if (num === "+/-") {
        if (!this.isInsertNumber) return; //入力中じゃなかったらリターン
        this.currentNumber = -1 * this.currentNumber;
        return;
      }
      // = を押した直後
      if (this.isResult) {
        this.currentNumber = "0";
        this.isResult = false;
      }
      // = 演算子を押した直後
      if (!this.isInsertNumber) { //入力中じゃなくなったら
        this.opArray.push(this.currentOperator);  //演算子の配列に'='を追加
        this.currentNumber = "0";
        this.isInsertNumber = true;
      }

      // 小数点は１つまで
      if (num === "." && this.currentNumber.indexOf(".") > -1) { //indexOfメソッドは指定された値が初めに出てくるインデックスを返す 小数点を押したかつ現在選択中の文字列に小数点が含まれていた場合
        return;
      }
      this.currentNumber += num;
    },
    // 演算子ボタンを押した時
    selectOparator(op) { 
      if (this.isInsertNumber) { //数字を入力中の場合
        this.numArray.push(Number(this.currentNumber)); //入力中の数字を配列に打ち込む
        this.isInsertNumber = false; //入力停止
      }
      this.currentOperator = op; //現在選択中の演算子に押した演算子ボタンを追加
    },
    // =を押した時
    showResult() {
      // 数字入力時 かつ カレント演算子有り かつ =ボタンを押していない
      if (this.isInsertNumber && this.currentOperator && !this.isResult) {
        this.numArray.push(Number(this.currentNumber));
        this.currentOperator = "";
        this.currentNumber = this.total();
        this.numArray = [];
        this.opArray = [];
        this.isResult = true;
      }
    },
    // cを押した時
    clearCurrent() {
      this.currentNumber = 0;
      this.isInsertNumber = true;
    },
    // acを押した時
    clearAll() {
      this.numArray = [];
      this.opArray = [];
      this.currentNumber = 0;
      this.currentOperator = "";
      this.isInsertNumber = true;
    }
  }
};
</script>


